# Ignore everything in the root directory
/*

# Unlock the directories we want to keep
!/frontend
!/backend
!/.github
!/.platform
!/nginx

# Unlock the specific files we want to keep in root
!/README.md
!/.gitignore
!/.gitattributes
!/.dockerignore
!/AWS_DEPLOYMENT.md
!/DEPLOYMENT_MIGRATION.md
!/docker-compose.yml

# Build artifacts
*.tsbuildinfo

# Temporary documentation files
*_FIX.md
*_DOC.md