version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    expose:
      - "3002"
    environment:
      - NODE_ENV=production

  web:
    build: ./frontend
    container_name: web
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
